@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>ForgotPassword</title>
</head>
<body>

    <div class="card container-fluid" id="card-class-ForgotPass">
        <div class="card-header">
            <b style="font-size:20px;">Email Verify</b>
        </div>
        <div class="card-body">

            @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

            <div class="form-group">
                @Html.Label("Email")
                @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", @type = "email" } })
                
            </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Verify Email  </button>
                </div>

            }



        </div>
    </div>
</body>
</html>