@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>ForgotPassword</title>
</head>
<body>

    <div class="card container-fluid" id="card-class-ForgotPass">
        <div class="card-header">
            <b style="font-size:20px;">Email Verify</b>
        </div>
        <div class="card-body">

            <form>
                <div class="form-group">
                    @Html.Label("Email")
                    @Html.TextBox("Email", "", new { @class = "form-control", @placeholder = "e.g : abc@example.com" })
                </div> <!-- form-group// -->
                <!--<div class="form-group">
                    @Html.Label("OTP Verify")
                    @Html.Password("OTP", "", new { @class = "form-control", @placeholder = "e.g : 123456" })
                </div>-->
                <!-- form-group// -->


                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                </div> <!-- form-group// -->

            </form>



        </div>
    </div>
</body>
</html>