@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <title>EmailNotify</title>
</head>
<body>
    <div class="col-xl-12 col-md-10 col-sm-3">
        <div class="container-fluid">
            <div class="card bg-info text-white">
                <div class="card-body text-center">Your Password reset link is sent on your Email-id. Please check your inbox.</div>
            </div>
        </div>
    </div>
</body>
</html>
