<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	  <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="logfile" xsi:type="File"
					
					archiveAboveSize="5242880"
					archiveEvery="Minute"
					archiveNumbering="Sequence"
					fileName="${basedir}/ErrorLog/logfile.txt"
					layout="------${level}(${longdate})${machinename}------${newline}
                      Exception Type:${exception:format=Type} |
                      Exception Message:${exception:format=Message} |
                      Stack Trace:${exception:format=Stack Trace} |
                      Additional Info:${message}${newline}" />
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="logfile" />
		</rules>
	</nlog>
  <connectionStrings>
    <add name="LMSAzureEntities" connectionString="metadata=res://*/Database.LMSDataModel.csdl|res://*/Database.LMSDataModel.ssdl|res://*/Database.LMSDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=LMSAzure;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>