<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UserId" value="syserrorlogin@gmail.com" />
    <add key="Password" value="Lms@2021" />
    <add key="SMTPPort" value="587" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="jwtkey" value="eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTYwOTY4NTQzNCwiaWF0IjoxNjA5Njg1NDM0fQ" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>